@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* === colors === */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #ff0404;
    --primary-color-light: #f6f5ff;
    --toggle-color: #707070;
    --text-color: #000000;

    /* === trsnsition === */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

/* ======= reusable css ======= */

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #ff0404;
    --primary-color-light: #242526;
    --toggle-color: #7a7a7a;
    --text-color: #ffffff;

}

.text {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======= sidebar ======= */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    opacity: 1;
    transition: var(--tran-05);
    z-index: 100;
}

.close {
    width: 88px;
    height: 100%;
}


.close .text {
    opacity: 0;
}


.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color) !important;
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;

}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .header-text {
    display: flex;
    flex-direction: column;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    transform: rotate(180deg);
    ;
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
    width: 100%;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--text-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    border-radius: 6px;
    position: relative;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode ion-icon {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode .sun {
    opacity: 0;
}

body.dark .menu-bar .sun {
    opacity: 1;
}

body.dark .menu-bar .moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    display: flex;
    right: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);

}

.toggle-switch .switch {
    height: 22px;
    width: 44px;
    position: relative;
    background: var(--toggle-color);
    border-radius: 25px;
    cursor: pointer;
    transition: var(--tran-03);

}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;
}

.home {
    height: 100%;
    background: var(--body-color);
    position: relative;
    left: 88px;
    transition: var(--tran-05);
    /* background: url("images/background.png"); */
    width: calc(100% - 88px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

/* about */

#about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:15px;
    color: var(--text-color);
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    padding: 45px 20px;
    border-radius: 25px;
    overflow: hidden;
}

.card {
    border-radius: 25px;
    background: var(--sidebar-color);
}

.image-content,
.card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}

.overlay {
    border-radius: 25px 25px 0 25px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--primary-color);
}


.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    bottom: -40px;
    background: var(--primary-color);
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background: var(--sidebar-color);
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--sidebar-color);
    padding: 3px;
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--primary-color);

}

.name {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.description {
    font-size: 18px;
    color: var(--toggle-color);
    text-align: center;
}

.button {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--primary-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    background: var(--body-color);
    transition: background 0.5s;
}

.button:hover {
    background: var(--primary-color);
}

.swiper-navBtn {
    color: #ff004f;
    transition: color 0.3s ease;
}

.swiper-navBtn::after,
    .swiper-navBtn::before{
font-size: 40px;
}

.swiper-navBtn:hover {
    color: var(--primary-color);
}

.swiper-button-prev{
    left: 0;
}

.swiper-button-next{
    right: 0;
}

.swiper-pagination .bullet{
    background-color: var(--primary-color);
    opacity: 1;
}

/* contact */

.contact-left {
    flex-basis: 35%;
    margin-left: 15px;
    color: var(--text-color);
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p ion-icon {
    color: #ff0404;
    margin-right: 15px;
    font-size: 25px;


}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff0404;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff0404;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--sidebar-color);
    padding: 26px;
    margin: 15px 0;
    color: var(--text-color);
    font-size: 18px;
    border-radius: 6px;
    transition: var(--tran-05);
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* css for small screens */

nav ion-icon {
    display: none;
}

#msg {
    color: #61b752;
    margin-top: -30px;
    display: block;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    margin-top: 80px;
    background-color: #000000;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff0404;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ff0404;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #ff0404;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {

    color: #ffffff;
    background-color: #ff0404;
    margin-top: -100px;
    transform: translateY(-10px);
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media only screen and (max-width : 600px) {

    .contact-left,
    .contact-right {
        flex-basis: 70%;
        margin-left: 20px;
    }

}

@media screen and (max-width : 768px) {
.slide-content{
    margin: 0 10px;
}
    .swiper-navBtn {
        display: none;
    }

}